{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <section class="main-sec">
        <form method="post">
            {% csrf_token %}
            {% for field in registration_form %}
                <div class="reg-field form-group">
                    <label class="form-label"
                           style='font-size: 20px; line-height: 30px;'
                           for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text }}
                        </small>
                    {% endif %}
                    <small class="form-text error-text">
                        {% for error in field.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </small>
                </div>
            {% endfor %}
            <hr>
            <p class="form-text text-muted">
                Натискаючи «Зареєструватися», ви підтверджуєте, що прочитали та
                повністю розумієте наші умови надання послуг та <a
                    target=”_blank”
                    href="{% static 'docs/conf-policy.pdf' %}">політику
                конфіденційності.</a>
            </p>
            <button class="button btn btn-primary submit_button" type="submit">
                Зареєструватися
            </button>
        </form>
    </section>
{% endblock %}