.main-sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button {
    width: 100%;
}

.login_btn {
    margin: 20px 0 5px;
}

.login-to-register_div {
    width: 100%;
    text-align: center;
}

.login-to-register_div > a {
    width: 100%;
}

main {
    justify-content: center;
}