table {
    text-align: center;
}

.codes {
    width: 100%;
}

.table-wrapper {
    max-height: 400px;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

th, td {
    vertical-align: middle;
}

td > form {
    margin: auto;
}

.delete-code_btn {
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
    background: none;
}

.delete-code_btn > img {
    height: 24px;
    width: 24px;
}

form {
    width: fit-content;
}

.create_codes_field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
    margin: 5px 0;
}

.profile-change_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.profile-change_buttons > button {
    margin: 0 15px;
}

.change-field {
    margin-bottom: 10px;
}

#id_subjects {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h5 {
    text-align: center;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#create_codes {
    margin: 15px 0;
}

.table_sec {
    width: 50%;
}
.create_sec {
    width: fit-content;
}

.codes_section {
    flex-direction: row;
}

.create-codes_header {
    flex: 0 1 auto;
}

.create-codes_form {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: -moz-fit-content;
}

.create-codes_form-fields {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1200px) {
    .table_sec {
        width: 100%;
    }

    .exit_button {
        width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .table_sec {
        width: 70%;
    }
}