{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="section1-bg"
             style="background-image: url('{% static 'img/photo01.jpg' %}')"
             data-paroller-factor="0.3" data-paroller-type="background"
             data-paroller-direction="vertical">
        <div class="section1">
            <div class="sec1-main">
                <h1>Багатопрофільний ліцей<br>на дистанції</h1>
                <a target="_blank" href="http://litsey.sd.ua/"
                   class="lyceum-site-btn btn btn-danger" type="button">Читати
                    більше</a>
            </div>
            <div class="sec1-add">

            </div>
        </div>
    </section>
    <section class="section2">
        <h2>Наші вчителі</h2>
        <div class="teachers">
            {% for teacher in teachers %}
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/teacher.png' %}"
                         class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ teacher.user.first_name }} {{ teacher.user.last_name }}
                        </h5>
                        <p class="card-text">
                            Предмети: {{ teacher.subjects.all|join:", " }}
                        </p>
                        {% if teacher.phone and teacher.show_phone %}
                            <p class="card-text">
                                Телефон: <a
                                    href="tel:{{ teacher.phone }}">{{ teacher.phone }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $('.section1-bg').paroller();
    </script>
{% endblock %}