{% extends "base.html" %}
{% load static %}

{% block title %}Розклад{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
    <h1>Розклад {{ class }}</h1>
    <div class="week_selection">
        <a href="?class={{ class }}&date={{ last_week_day }}"
           class="btn btn-outline-secondary change-week_button">
            <
        </a>
        <span>{{ date }}</span>
        <a
                href="?class={{ class }}&date={{ next_week_day }}"
                class="btn btn-outline-secondary change-week_button">
            >
        </a>
    </div>
    <section class="main-sec">
        <table class="table table-bordered table-primary">
            <thead>
            <tr>
                <th scope="col">Понеділок</th>
                <th scope="col">Вівторок</th>
                <th scope="col">Середа</th>
                <th scope="col">Четвер</th>
                <th scope="col">П'ятниця</th>
                <th scope="col">Субота</th>
                <th scope="col">Неділя</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for day in table %}
                    {# Понедельник #}
                    <td>
                        <div class="cell-wrap">
                            {% for lesson in day %}
                                <a target="_blank"
                                        {% if lesson.link %}
                                   href="//{{ lesson.link }}"
                                        {% endif %}
                                   class="task_card {{ lesson.type }}_card">
                                    <h5>{{ lesson.subject }}</h5>
                                    <span>{{ lesson.description }}</span>
                                    <span class="info">
                                        {% if lesson.type == "lesson" %}
                                            Урок
                                        {% elif lesson.type == "test" %}
                                            Тест
                                        {% else %}
                                            {{ lesson.type }}
                                        {% endif %}
                                    </span>
                                    <span class="info">{{ lesson.teacher.user.last_name }} {{ lesson.teacher.user.first_name }}</span>
                                    <span class="info">{{ lesson.time_start }}-{{ lesson.time_end }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}

{% block js %}
{% endblock %}