{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
    <h1>Розклад</h1>
    <section>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Понеділок</th>
                <th scope="col">Вівторок</th>
                <th scope="col">Середа</th>
                <th scope="col">Четвер</th>
                <th scope="col">П'ятниця</th>
                <th scope="col">Суббота</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}

{% block js %}
{% endblock %}