/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap');
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.navbar {
    box-shadow: 0 6px 16px 0 rgba(34, 60, 80, 0.46);
}

.navbar-toggler {
    width: fit-content;
    width: -moz-fit-content;
}

a {
    text-decoration: none;
}

.profile_link > span {
    color: #000;
    vertical-align: middle;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 auto;
}

.hidden {
    display: none;
}
